html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.error-wrapper {
    max-width: 600px;
    margin: 80px auto;
    padding: 40px;
    text-align: center;
    background: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #2c2c2c;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.error-wrapper h1 {
    font-size: 72px;
    margin-bottom: 20px;
    color: #477fea; /* тот самый Rider-синий */
    font-weight: 700;
}

.error-wrapper p {
    font-size: 20px;
    color: #cfcfcf;
    margin-bottom: 10px;
}

.error-wrapper a {
    color: #44a5cb;
    text-decoration: none;
    font-weight: 500;
}

.error-wrapper a:hover {
    text-decoration: underline;
}
