@{
    ViewData["Title"] = "Лента публикаций";
}
@{
    Layout = "_MainLayout";
}
<!DOCTYPE html>
<html lang="ru">
<body>


<section>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="publication-container" id="feed-posts-container">
                <div id="feed-sentinel"></div>
            </div>

        </main>
    </div>
</section>




</body>
</html>
