@{
    ViewData["Title"] = "Register page";
}
@model ForgottenModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="Russian">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/css/nav-home-reg-sign.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="form-div">
                <form class="initial-form">
                    @Html.AntiForgeryToken()
                    <input asp-for="Email" name="Email" placeholder="Email" class="data-account form-element">
                    <div class="buttons-div">
                        <a><button asp-area="" asp-controller="Authorization" asp-action="LogIn" class="button forgotten-cancel-button form-element"><span class="registration-button-title">Cancel</span></button></a>
                        <a href="registration.html"><button class="button forgotten-reset-button form-element"><span class="registration-button-title">Reset password</span></button></a>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
</html>
